<div class="bg-gray-600  p-4">
    <div class="flex justify-end items-center">
      <div class="ml-10">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png" alt=""
        class="p-5 text-white text-2xl hover:text-red-400"
        width="150" height="100"> -->
        <i class="bi bi-people-fill py-8 px-7 text-white text-2xl hover:text-red-400"></i>
      </div>
    </div>
  </div>


